.button {
  cursor: pointer;
  border: none;
  padding: .8rem .6rem;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1rem;
}

.button:focus {
  outline: none;
}

.button:disabled {
  cursor: not-allowed;
}

.text {
  color: var(--midu-azul);
}

.text:hover {
  color: var(--midu-dark);
}

.text:disabled {
  color: var(--dark-main);
}

.contained {
  background-color: var(--theme-ui-colors-alpha,#667eea);
  color: #fff;
}

.contained:hover {
  background-color: var(--theme-ui-colors-alphaLight,#434190);
}

.contained:disabled {
  background-color: var(--dark-main);
  color: #fff;
}
