.content {
  margin-bottom: 2rem;
}

.content figure {
  margin: 0;
}

.content img {
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
}

.content a {
  text-decoration: none;
  color: var(--theme-ui-colors-alphaDark);
}

.content a:hover {
  text-decoration: underline;
}

.content h1 a, .content h2 a, .content h3 a, .content h4 a, .content h5 a, .content h6 a {
  font-weight: 600;
  margin-bottom: .5rem;
  color: var(--theme-ui-colors-text);
  display: flex;
  align-items: center;
}

.content h1 a:hover, .content h2 a:hover, .content h3 a:hover, .content h4 a:hover, .content h5 a:hover, .content h6 a:hover {
  text-decoration: none;
}

.content h1 a::after, .content h2 a::after, .content h3 a::after, .content h4 a::after, .content h5 a::after, .content h6 a::after {
  content: "";
  -webkit-mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.0//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='body_1' width='22' height='16'%3E%3Cg transform='matrix(0.5017089 0 0 0.5017089 2.9999995 -0)'%3E%3Cg%3E%3Cpath d='M30.543 5.74L26.465 1.7049999C 24.66 -0.07200003 21.729 -0.08400011 19.92 1.685L19.92 1.685L15.395 6.099C 13.583 7.867 13.575001 10.747 15.375 12.523L15.375 12.523L17.961 10.039C 17.699001 9.247999 18.022001 8.341999 18.662 7.7149997L18.662 7.7149997L21.541 4.908C 22.453001 4.023 23.916 4.027 24.816 4.918L24.816 4.918L27.265 7.3380003C 28.164999 8.229 28.161 9.6640005 27.255 10.551001L27.255 10.551001L24.376 13.360001C 23.767 13.954 22.767 14.280001 21.991 14.071001L21.991 14.071001L19.458 16.557001C 21.261 18.338001 24.19 18.346 26.003 16.577002L26.003 16.577002L30.523 12.167002C 32.34 10.396 32.346 7.519 30.543 5.74z' stroke='none' fill='%23000000' fill-rule='nonzero' /%3E%3Cpath d='M13.975 21.894C 14.190001 22.667 13.846001 23.667 13.223001 24.275L13.223001 24.275L10.534 26.902C 9.612 27.802 8.120001 27.797 7.2020006 26.890001L7.2020006 26.890001L4.7040005 24.429C 3.7880006 23.523 3.7940004 22.050001 4.7160006 21.154001L4.7160006 21.154001L7.4070005 18.527C 8.063001 17.890001 9.005001 17.566 9.827001 17.838001L9.827001 17.838001L12.4210005 15.268002C 10.585001 13.457002 7.5970006 13.448002 5.7530003 15.248001L5.7530003 15.248001L1.3900003 19.508001C -0.4559996 21.311 -0.46499968 24.242 1.3700004 26.057001L1.3700004 26.057001L5.524 30.164001C 7.3580003 31.973001 10.344 31.982002 12.192 30.182001L12.192 30.182001L16.555 25.922C 18.399 24.117 18.407 21.188 16.575 19.375L16.575 19.375L13.975 21.894z' stroke='none' fill='%23000000' fill-rule='nonzero' /%3E%3Cpath d='M11.139 20.722C 11.75 21.339 12.75 21.345 13.373 20.73L13.373 20.73L20.828 13.313999C 21.449 12.697 21.453 11.698999 20.835999 11.079999C 20.222998 10.464999 19.224998 10.460999 18.605999 11.073999L18.605999 11.073999L11.148999 18.487999C 10.529 19.103 10.525 20.101 11.139 20.722z' stroke='none' fill='%23000000' fill-rule='nonzero' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.0//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='body_1' width='22' height='16'%3E%3Cg transform='matrix(0.5017089 0 0 0.5017089 2.9999995 -0)'%3E%3Cg%3E%3Cpath d='M30.543 5.74L26.465 1.7049999C 24.66 -0.07200003 21.729 -0.08400011 19.92 1.685L19.92 1.685L15.395 6.099C 13.583 7.867 13.575001 10.747 15.375 12.523L15.375 12.523L17.961 10.039C 17.699001 9.247999 18.022001 8.341999 18.662 7.7149997L18.662 7.7149997L21.541 4.908C 22.453001 4.023 23.916 4.027 24.816 4.918L24.816 4.918L27.265 7.3380003C 28.164999 8.229 28.161 9.6640005 27.255 10.551001L27.255 10.551001L24.376 13.360001C 23.767 13.954 22.767 14.280001 21.991 14.071001L21.991 14.071001L19.458 16.557001C 21.261 18.338001 24.19 18.346 26.003 16.577002L26.003 16.577002L30.523 12.167002C 32.34 10.396 32.346 7.519 30.543 5.74z' stroke='none' fill='%23000000' fill-rule='nonzero' /%3E%3Cpath d='M13.975 21.894C 14.190001 22.667 13.846001 23.667 13.223001 24.275L13.223001 24.275L10.534 26.902C 9.612 27.802 8.120001 27.797 7.2020006 26.890001L7.2020006 26.890001L4.7040005 24.429C 3.7880006 23.523 3.7940004 22.050001 4.7160006 21.154001L4.7160006 21.154001L7.4070005 18.527C 8.063001 17.890001 9.005001 17.566 9.827001 17.838001L9.827001 17.838001L12.4210005 15.268002C 10.585001 13.457002 7.5970006 13.448002 5.7530003 15.248001L5.7530003 15.248001L1.3900003 19.508001C -0.4559996 21.311 -0.46499968 24.242 1.3700004 26.057001L1.3700004 26.057001L5.524 30.164001C 7.3580003 31.973001 10.344 31.982002 12.192 30.182001L12.192 30.182001L16.555 25.922C 18.399 24.117 18.407 21.188 16.575 19.375L16.575 19.375L13.975 21.894z' stroke='none' fill='%23000000' fill-rule='nonzero' /%3E%3Cpath d='M11.139 20.722C 11.75 21.339 12.75 21.345 13.373 20.73L13.373 20.73L20.828 13.313999C 21.449 12.697 21.453 11.698999 20.835999 11.079999C 20.222998 10.464999 19.224998 10.460999 18.605999 11.073999L18.605999 11.073999L11.148999 18.487999C 10.529 19.103 10.525 20.101 11.139 20.722z' stroke='none' fill='%23000000' fill-rule='nonzero' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
  background-color: var(--theme-ui-colors-text);
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 4px;
  opacity: .2;
  transition: opacity 0.2s ease-in-out;
}

.content h1 a:hover::after, .content h2 a:hover::after, .content h3 a:hover::after, .content h4 a:hover::after, .content h5 a:hover::after, .content h6 a:hover::after {
  opacity: 1;
}